#chatbotBtn{
  position:fixed;
  right:20px;
  bottom:20px;
  z-index:9999;
  background:#e33d8f;
  color:white;
  border:none;
  border-radius:50px;
  padding:14px 20px;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 8px 25px #0004;
}

#chatbotBox{
  position:fixed;
  right:20px;
  bottom:80px;
  width:340px;
  height:480px;
  background:white;
  color:#111;
  border-radius:18px;
  box-shadow:0 10px 35px #0005;
  z-index:9999;
  display:none;
  flex-direction:column;
  overflow:hidden;
}

.chatbotHeader{
  background:#e33d8f;
  color:white;
  padding:14px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.chatbotHeader button{
  background:transparent;
  color:white;
  border:none;
  font-size:24px;
  cursor:pointer;
}

#chatbotMensagens{
  flex:1;
  padding:12px;
  overflow:auto;
}

.msg{
  padding:10px;
  margin:8px 0;
  border-radius:12px;
  font-size:14px;
}

.msg.bot{
  background:#f3f3f3;
}

.msg.user{
  background:#e33d8f;
  color:white;
  text-align:right;
}

.quick{
  display:block;
  width:100%;
  margin:6px 0;
  padding:9px;
  border:none;
  border-radius:10px;
  background:#fce7f3;
  cursor:pointer;
  text-align:left;
}

.chatbotFooter{
  display:flex;
  gap:6px;
  padding:10px;
  border-top:1px solid #ddd;
}

.chatbotFooter input{
  flex:1;
  padding:10px;
  border-radius:10px;
  border:1px solid #ccc;
}

.chatbotFooter button{
  background:#e33d8f;
  color:white;
  border:none;
  border-radius:10px;
  padding:10px;
}
#chatVendasBtn{
  position:fixed;
  left:20px;
  bottom:20px;
  z-index:9999;
  background:#16a34a;
  color:white;
  border:none;
  border-radius:50px;
  padding:14px 20px;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 8px 25px #0004;
}

#chatVendasBox{
  position:fixed;
  left:20px;
  bottom:80px;
  width:340px;
  height:430px;
  background:white;
  color:#111;
  border-radius:18px;
  box-shadow:0 10px 35px #0005;
  z-index:9999;
  display:none;
  flex-direction:column;
  overflow:hidden;
}
